
//content color for only paragraph
$gray-slate : #707070

//brand color
$br-blue: #1783EF

.mb-10
  margin-bottom: 10px
.mb-20
  margin-bottom: 20px
.mb-30
  margin-bottom: 30px
.mb-40
  margin-bottom: 40px
.mb-50
  margin-bottom: 50px
.mb-60
  margin-bottom: 60px

.mb-80
  margin-bottom: 80px

.mt-20
body
  overflow-x: hidden


.text-block
  font-weight: 400
  .block-title
    font-weight: 300
    font-size: 18px
    letter-spacing: 2.5
    text-transform: uppercase
  .content-title
    font-weight: 600
    font-size: 18px
    letter-spacing: 2.5
    margin-bottom: 20px
  .content
    font-size: 16px
    color: $gray-slate
    line-height: 2
  .head-title
    font-weight: 300
    font-size: 34px


.menu
  display:  inline-block
  margin-top: 75px
  font-size: 16px

  a
    text-decoration: none
    color: $black
    margin-left: 70px
    &:hover
      color: $br-blue
      transition: all .3s ease-in-out
      cursor: pointer
      text-decoration: none
    &.btn
      padding: 10px 20px
      background-color: $br-blue
      border-radius: 50px
      color: white
      &:hover
        cursor: pointer
        border: 1px solid $br-blue
        color: $br-blue
        background-color: white
        transition: all .3s ease-in-out


  .menu-title
    text-align: right
    padding: 0

  .logo
    padding: 0
    span
      margin-left: 23px


.value-added-1,.value-added-2
  .text-block
    .content-title
      font-size: 22px
      letter-spacing: normal
      img
        vertical-align: middle
      span
        margin-left: 20px
        vertical-align: middle




.page-title
  .text-block
    padding: 80px 0 15px 0
  .img-block
    img
      position: relative
      float: right
      clear: right

.things-we-do
  .text-block
    .content-title
      text-transform: uppercase

.value-added-1
  .text-block
    .text-block-group
      a.content-icon
        display: block
        width: 100px
        height: 82px
        background: url(../img/calender.svg)
        background-size: 100px 82px
  .img-block
    img
      position: relative
      float: right
      clear: right

.value-added-2
  .img-block
    img
      position: relative
      float: left
      clear: left

.footer
  .content
    margin: 0 auto
    margin-bottom: 30px
  hr
    border-bottom: 1px solid #c1c1c1
    width: 100px
    text-align: center
    margin: 0 auto
    margin-bottom: 20px

  a.cta
    background-color: $br-blue
    color: white
    padding: 12px 20px
    border-radius: 50px
    margin: 0 auto
    &:hover
      cursor: pointer
      border: 1px solid $br-blue
      color: $br-blue
      background-color: white
      text-decoration: none
      transition: all .3s ease-in-out

.contact-block
  .img-block
    margin-bottom: -4px
  // margin-top: -2px
  .company-info
    text-align: left
    .content-title
      padding-top: 50px
      margin-left: 100%
      font-size: 18px
      font-weight: 600
      letter-spacing: 2.5
      color: #989898
      text-transform: uppercase
      a
        text-transform: none
        font-size: 18px
        color: #333
        font-weight: 400
        letter-spacing: normal

.exit-block
  display: inline-block
  margin-bottom: 20px
  span
    margin-left: 35px
  .social-block
    display: inline
    text-align: right
    a
      text-decoration: none
      color: $black
      margin-left: 70px
      &:hover
        color: $br-blue
        transition: all .3s ease-in-out
        cursor: pointer


// media-queries
@media screen and (min-width: 1000px) and (max-width: 2000px) and (-webkit-min-device-pixel-ratio: 1)
  .active-sheet
    display: none
  .menu
    margin-bottom: 50px
  .page-title
    margin-bottom: 80px

  .things-we-do
    margin-bottom: 80px
    .text-block
      .block-title
        margin-bottom: 40px
      .text-block-group
        margin-bottom: 50px
        img
          display: none


  .value-added-1,.value-added-2
    margin-bottom: 80px
    .text-block
      .text-block-group
        margin-bottom: 60px
  .footer
    .text-block
      margin-bottom: 50px
      .block-title
        margin-bottom: 20px
        .content
          margin-bottom: 20px
        .cta
          margin-top: 20px
  hr.before_exit
    margin: 0 0 20px 0
  .exit-block
    margin-bottom: 30px

@media (min-width: 500px) and (max-width: 1000px)
  .active-sheet
    display: none

  .menu
    margin-bottom: 50px
  .page-title
    margin-bottom: 80px

  .things-we-do
    margin-bottom: 80px
    .text-block
      .block-title
        margin-bottom: 40px
      .text-block-group
        margin-bottom: 50px
        img
          display: none


  .value-added-1,.value-added-2
    margin-bottom: 80px
    .text-block
      .text-block-group
        margin-bottom: 60px
  .footer
    .text-block
      margin-bottom: 50px
      .block-title
        margin-bottom: 20px
        .content
          margin-bottom: 20px
        .cta
          margin-top: 20px
  hr.before_exit
    margin: 0 0 20px 0
  .exit-block
    margin-bottom: 30px



@media only screen and (max-width: 500px)

  body

    .active-sheet
      display: block
      position: fixed
      bottom: 0
      width: 100%
      height: 60px
      background: white
      z-index: 2
      -webkit-box-shadow: 0px -12px 43px -13px rgba(79,79,79,0.18)
      -moz-box-shadow: 0px -12px 43px -13px rgba(79,79,79,0.18)
      box-shadow: 0px -12px 43px -13px rgba(79,79,79,0.18)
      .text-block
        padding: 20px
        // clear: both
        span
          font-size: 16px
          // float: left
        a.cta
          position: absolute
          right: 20px
          bottom: 7px
          display: inline-block
          background: $br-blue
          padding: 10px 20px
          color: white
          border-radius: 50px
          // float: right
          text-decoration: none
          // margin-left: 30%



    .container
      width: 90%
      margin: 0 auto !important

    .menu
      margin-top: 0
      position: absolute
      top: 20px
      left: 33%
      .logo
        margin: 0 auto
        span
          font-size: 18px
        img
          width: 34px
          height: auto

      .menu-title
        display: none


  .page-title
    margin-bottom: 30px
    .text-block
      text-align: center
      .block-title
        font-size: 16px
        margin-bottom: 18px

      .head-title
        font-size: 18px
        margin-bottom: 18px
        line-height: 1.6

    .img-block
      width: 90%
      height: auto
      margin: 0 auto
      // margin-bottom: 20px

  .things-we-do
    .img-block
      display: none
    .text-block
      text-align: center
      .block-title
        font-style: 15px
        margin-bottom: 40px
      .text-block-group
        margin-bottom: 50px
        .content-title
          margin-bottom: 10px
        .content p
          font-size: 14px
        img
          margin-bottom: 30px

  .value-added-1
    margin-bottom: 0
  .value-added-2
    margin-bottom: 40px

  .value-added-1,.value-added-2
    text-align: center
    .img-block
      display: none
    .text-block
      .text-block-group
        .content-title
          img
            width: 40px
            height: auto
          span
            font-size: 18px
        .content p
            font-size: 14px

  .footer
    margin-bottom: 70px
    .text-block
      .block-title
        margin-bottom: 20px
      .content p
        font-size: 14px
        margin-bottom: 30px
    .contact-block
      width: 100%
      margin-bottom: 40px
      .img-block
          display: none
      .company-info
        margin-left: 10%
        .content-title
          margin: 0 auto
          text-align: center
  hr.before_exit
    display: none !important
  .exit-block
    display: none !important
