html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../assets/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    
    meta(name='description', content='PapercutLabs Design Agency uses design, digital and social media for Branding. We are the top digital branding agency and design studio in Hyderabad. Search Engine Optimization, Branding, Graphic Design, Social Media Marketing, Website Design and Development, Digital Design Marketing, Product Design,Print Design and Logo Design are the various services that we offer.')
    meta(name='description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad')
    link(rel='canonical', href='http://papercutlabs.co/')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content='PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.')
    meta(property='og:description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using affordable digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad.')
    meta(property='og:url', content='http://papercutlabs.co/')
    meta(property='og:site_name', content='PapercutLabs design Agency')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='PapercutLabs design Agency helps Brands and Businesses Gain a Competitive Advantage in the Connected World using affordable digital, social media marketing and Design for Branding. Web and Mobile Design, Android Apps and iOS Development, Logo Design, Brand Strategy and Online Business Marketing are solutions we offer. We are the Best Digital Media Branding and Design agency in Hyderabad.')
    meta(name='twitter:title', content='PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.')
    title PapercutLabs Design Agency | Design and Branding Agency in Hyderabad.
  body
  
    .active-sheet
      .text-block
        span Have an Idea?
        a.cta(href="https://goo.gl/forms/e26iLxYnuRgnQqqT2") Start a Project
    
    .container
      .menu.row
        .logo.col-md-4
          a.link(href="../index.html")
           img(src="../assets/img/papercut_logo.png", alt="", width="34px" class="img-fluid")
          span Papercutlabs
        .menu-title.col-md-8
          a(href="../index.html") Home
          //- a(href="our_work.html") Our Work
          a(href="about_us.html") About us
          a(href="https://goo.gl/forms/e26iLxYnuRgnQqqT2" target="_blank").btn Start a Project
    
    
      .page-title.row
        .text-block.col-md-5
          p.head-title
           | Our Work
          hr.width-50
      
      .showcase-section.mb-80
        .showcase-group.row
          .showcase-1(style="background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=1050&q=80)")
            
          .showcase-2(style="background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=1050&q=80)")
          
        //- .showcase-group.showcase.show-lg.blue-bg.row
        //-   .col-lg-12
          
        .showcase-group.row
          .showcase-1(style="background-image: url(https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=h495705ce4fffc406c4c9fc09b13a6db9&auto=format&fit=crop&w=1050&q=80)")
          .showcase-2
          
        
        
      
      .footer.row
        .text-block.col-md-12.text-center
          .block-title have a project in mind? let's chat
          hr
          .content.col-md-6
            p We’re ever looking to team up with new and booming companies with a vision to build something great. So if that’s you, hit us up!
          
          a.cta(href="https://goo.gl/forms/e26iLxYnuRgnQqqT2" target="_blank") Start a Project
        .contact-block.row
          .img-block.col-md-6
            img(src="../../assets/img/girl.png", alt="")
          .company-info.col-md-4
            .content-title
              p contact
              a(href="mailto:papercutlabs@gmail.com?Subject=Start a project" target="_top") Papercutlabs@gmail.com
              
              
      hr.before_exit
      .exit-block.row
        .logo.col-md-4
          img(src="../assets/img/papercut_logo.png", alt="", width="34px" class="img-fluid")
          span © 2017 PapercutLabs
        .social-block.col-md-8
          a(href="https://www.facebook.com/PapercutLabs-371939749945680" target="_blank") Facebook
          a(href="https://twitter.com/papercutlab" target="_blank") Twitter
          a(href="https://instagram.com/papercut.labs" target="_blank") Instagram
          
    
    script(type="text/javascript" src="../assets/js/func-min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js")
    script
      | var scroll = new SmoothScroll('a[href*="#"]');
      
          
        
        
          
      
  
  
